@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Lato:ital,wght@0,400;0,700;1,300;1,400&family=Poppins:wght@300;400;500&family=Quicksand:wght@300;400;500;600&family=Zen+Dots&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f9fafd;
    width: 100vw;
    overflow-x: hidden;
}

.header--box {

    position: relative;
    color: #fff;

    z-index: 1000;
    width: 100vw;
    /* height: 100vh; */

}

nav {
    height: 10vh;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    backdrop-filter: blur(15px);
    /* color: #fff; */
}

.desktop--items {
    display: none;
}

nav .mobile--menu {
    gap: 4px;
    margin-top: 3px;
    margin-right: 7px;
    cursor: pointer;
}

nav .mobile--menu .burger {
    width: 40px;
    height: 4px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    scale: 0.75;
    transition: all 0.5s;
}


.top {
    transition: transform 0.5s;
    transform: translateY(11px) rotate(45deg);
}

.mid {
    opacity: 0;
}

.bottom {
    transition: transform 0.5s;
    transform: translateY(-10px) rotate(-45deg);
}


.mobmenu--items,
.mobmenu--items--hidden {
    position: absolute;
    background-color: #fff;
    padding: 30px;
    text-align: center;
    /* height: 100%; */
    border-radius: 5px;
    position: absolute;
    top: 101px;
    width: 81%;
    left: 10vw;
    visibility: visible;
    transition: top 0.2s, visibility 0.3s;
}

.mobmenu--items--hidden {
    visibility: hidden;
    top: -350px;
}

.mobmenu--items ul,
.desktop--items ul {
    list-style: none;
    color: #000;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    font-weight: 500;
    text-align: left;
}

.mobmenu--items ul li,
.desktop--items ul li {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.mobmenu--items ul li a,
.desktop--items ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    display: block;
}

.desktop--items ul li a {
    color: rgb(0, 0, 0);
}

.mobmenu--items ul li a:hover,
.desktop--items ul li a:hover {
    background-color: rgb(46, 46, 66);
    color: #fff;
    transition: all 0.5s;

}

/* the members page code starts here */

.membersMain,
.eventsMain {
    padding: 20px;
    margin-top: 20px;
}


main .membersLayout,
main .eventsLayout {
    /* border: 2px solid red; */
    height: 100%;
    padding: 20px;
    margin-top: 80px;
}

.membersLayout h2,
.eventsLayout h2 {
    font-size: 27px;
    margin-left: -12px;
}

hr {

    background-color: orange;
    border: 3px solid orange;
    margin-left: -10px;
    margin-top: 10px;

}

/* write the responsive code for members code especially for mobiles here */
/* set the device as iPhone 12 pro for working and test for other devices */
/* All the best! */



@media only screen and (min-width:768px) {

    /* write the responsive code for members code especially for tablets here */
}

@media only screen and (min-width: 940px) {

    .mobile--menu,
    .mobmenu--items--hidden {
        display: none !important;
    }

    .desktop--items {
        display: block;
        width: 100%;
        padding: 7px;
    }

    nav {
        gap: 50px;
        align-items: center;
    }

    .desktop--items ul {
        color: rgb(208, 196, 196);
        display: flex;
        flex-direction: row;
        justify-content: right;
        gap: 40px;
        /* margin-right: 20px; */
        font-size: 18px;
    }

    .desktop--items ul li:hover {}

    .membersMain h2,
    .eventsMain h2 {
        font-size: 30px;
    }

    /* write the responsive code for members code especially for pc here */

}