@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Lato:ital,wght@0,400;0,700;1,300;1,400&family=Poppins:wght@300;400;500&family=Quicksand:wght@300;400;500;600&family=Secular+One&family=Zen+Dots&display=swap');

@font-face {
    font-family: "SAMARO__";
    src: url("../SAMARO__.TTF");
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f9fafd;
    width: 100vw;
    overflow-x: hidden;
}

.header--box {
    /* border: 2px solid red; */
    position: relative;
    color: #fff;
    background-color: rgb(16, 19, 42);
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    border-radius: 0 0 0 50px;
}

#bg-js {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}


nav {
    height: 16vh;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    backdrop-filter: blur(15px);
    color: #fff;
}

.desktop--items {
    display: none;
}

nav .mobile--menu {
    gap: 4px;
    margin-top: 3px;
    margin-right: 7px;
    cursor: pointer;
}

nav .mobile--menu .burger {
    width: 40px;
    height: 4px;
    border-radius: 20px;
    background-color: #fff;
    scale: 0.75;
    transition: all 0.5s;
}

/* .mobile--menu:active>.burger:nth-child(1) {
    background-color: red;
    ;
} */

.top {
    transition: transform 0.5s;
    transform: translateY(11px) rotate(45deg);
}

.mid {
    opacity: 0;
}

.bottom {
    transition: transform 0.5s;
    transform: translateY(-10px) rotate(-45deg);
}



.logobox a img {
    /* background: url(../Images/logo2.png); */
    /* display: none; */
    height: fit-content;
    /* border: 2px solid red; */
    height: 9vh;
    width: 100%;
}

.mobmenu--items,
.mobmenu--items--hidden {
    position: absolute;
    background-color: #fff;
    padding: 30px;
    text-align: center;
    /* height: 100%; */
    border-radius: 5px;
    position: absolute;
    top: 101px;
    width: 81%;
    left: 10vw;
    visibility: visible;
    transition: top 0.2s, visibility 0.3s, backgound-color 0.3s;
}

.mobmenu--items--hidden {
    visibility: hidden;
    top: -350px;
}

.mobmenu--items ul,
.desktop--items ul {
    list-style: none;
    color: #000;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    font-weight: 500;
    text-align: left;
}

.mobmenu--items ul li,
.desktop--items ul li {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.mobmenu--items ul li a,
.desktop--items ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    display: block;
}

.desktop--items ul li a {
    color: #fff;
}

.mobmenu--items ul li a:hover,
.desktop--items ul li a:hover {
    background-color: rgb(46, 46, 66);
    color: #fff !important;
    transition: all 0.5s;

}

header {
    font-size: 36px;
    height: 80vh;
    text-align: center;
    justify-content: center;
    gap: 30px;
    /* position: relative; */
}

header .name {
    font-family: "SAMARO__";
    font-size: 1.3em;
    color: #d3caca;
}

header .tagline,
header .summary {
    font-size: 20px;
    color: #d3caca;
}

.main--box {
    padding: 20px;
    margin-top: 20px;
}

main .missionBox,
main .visionBox,
main .eventsOffered {
    /* border: 2px solid red; */
    height: 100%;
    padding: 20px;
    margin-top: 80px;
}

.missionBox h2,
.visionBox h2,
.eventsOffered h2 {
    font-size: 40px;
    margin-left: -12px;
    /* display: inline; */
}

hr {

    background-color: orange;
    border: 3px solid orange;
    margin-left: -10px;
}

.m-imgBox {
    margin: 40px 0;
    height: 30vh;
    background: url('../Images/mission.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    padding-right: 20px;
    transform: scale(1.1);
    width: 90%;
}

.v-imgBox {
    margin: 40px 0;
    height: 30vh;
    background: url('../Images/vision.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    padding-right: 20px;
    transform: scale(1.1);
    width: 90%;
}

.missionBox ul,
.visionBox ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 17px;
    font-weight: 500;
}

.missionBox ul li::before,
.visionBox ul li::before {
    content: "→";
    font-size: 27px;
    font-weight: 700;
    margin-right: 20px;
    ;
}

.eventsOffered {
    /* border: 2px solid red; */
}


.note p {
    margin: 30px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.eventBox {
    margin-top: 20px;
    /* border: 2px solid red; */
    ;
}

.eventBox .event {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.event h3 {
    font-size: 20px;
    font-weight: 500;
}

.event .eveImg img {
    min-width: 40vw;
    max-width: 75vw;
    display: block;
    margin: 25px auto;
    /* width: 50%; */
}

.eve3 .eveImg img {
    margin: 0 auto;
}

.event .info {
    margin: 10px 0;
}

.msgBox {
    margin: 80px 0;

    /* border: 2px solid red; */
}

.msgLayout {
    /* height: 70vh; */
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    align-items: center;
}

.msgLayout .hodInfo {
    /* border: 2px solid red; */
    text-align: right;
    width: 100%;

}

.msgLayout .hodInfo img {
    height: 12vh;
    aspect-ratio: 1;
    padding: 10px;
    border-radius: 100px;
    box-shadow: 0 1px 20px rgb(136 125 125 / 35%);
    margin-bottom: 5px;
}

.hodInfo p {
    font-size: 20px;
    color: rgb(2, 28, 42);
    font-weight: bold;
}

.hodInfo p span {
    font-size: 14px;
    color: #000;
    font-weight: 500;
    line-height: 20px;
}

.msg span {
    font-size: 2.1em;
    font-family: 'Secular One', sans-serif;
    font-weight: bolder;
    /* margin: 0; */
    font-style: italic;
    transform: rotate(180deg);
}

.msg .bottom {
    position: relative;
    left: 80%;
}

.contactBox {
    padding: 10px;
    margin: 10px 0;
    /* border: 2px solid red; */
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}

.contactBox p {
    margin-bottom: 20px;
    text-align: center;
}

.contactBox p:nth-child(1) {
    font-size: 30px;
    font-weight: bolder;
}

.contactBox p:nth-child(2) {
    font-size: 14px;
    font-weight: 500;
}

.contactBox .icon {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: 5px;
    /* margin-top: 20px; */
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 20px;
    line-height: 32px;
    box-shadow: 0px 1px 7px #afa6a687;
}

.icons a {
    color: #000;
}

.icons:hover {
    box-shadow: 0px 1px 15px #afa6a687;
    background-color: #6c90ef96;
}

.final--touch {
    /* border: 2px solid red; */
    text-align: center;
    height: 10vh;
    padding: 3%;
    font-size: 1.2em;
    background-color: #171936;
    color: #fff;
}

.final--touch p i {
    color: red;
    animation: pulse 1s infinite linear;
}

@keyframes pulse {
    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@media only screen and (min-width:760px) {

    header .name {
        font-size: 1.5em;
    }

    .event .info {
        text-align: center;
        margin: 15px 0;
    }

    .event .info p {
        font-size: 1.2em;

    }

    .msgLayout {
        flex-direction: row;
        /* text-align: left; */
        flex-wrap: wrap;
        height: 50vh;
    }

    .msgLayout .hodInfo {
        display: flex;
        /* justify-content: space-around; */
        align-items: center;
        gap: 50px;

    }

    .msgLayout .hodInfo img {
        height: 20vh;
    }

    .msgLayout .hodInfo p {
        color: #0036c6;
        font-size: 23px;
    }

    .msgLayout .msg {
        margin-left: auto;
        margin-right: 40px;
        font-size: 1.3em;
    }

    .msg span {
        font-size: 1.5em;
    }

    .contactBox p:nth-child(1) {
        /* border: 2px solid red; */
        width: 50vw;
        margin: 0 auto;
    }

    .contactBox p:nth-child(2) {
        font-size: 20px;
    }

    .contactBox .icon {
        width: 50%;
        margin: 0 auto;
    }

    .icon .icons {
        transform: scale(1.1);
    }


}

@media only screen and (min-width: 960px) {

    .mobile--menu,
    .mobmenu--items--hidden {
        display: none !important;
    }

    .desktop--items {
        display: block;
        width: 100%;
        padding: 7px;
    }

    nav {
        gap: 50px;
        align-items: center;
    }

    header {
        justify-content: space-around;
        position: relative;
        top: 100px;
    }

    .desktop--items ul {
        color: rgb(208, 196, 196);
        display: flex;
        flex-direction: row;
        justify-content: right;
        gap: 40px;
        /* margin-right: 20px; */
        font-size: 18px;
    }

    .desktop--items ul li:hover {}

    .event .eventInfo .eveImg img {
        min-width: 40vw;
        max-width: 55vw;
    }

    .eve3 .eventInfo .eveImg img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        min-width: 33vw;
        max-width: 40vw;
    }

    .membersLayout h2,
    .eventsLayout h2,
    .blogPageLayout h2,
    .msgBox h2 .contactUsSection h2 {

        font-size: 40px;
    }

    .final--touch {
        padding: 1.5%;
    }
}

@media only screen and (min-width: 1100px) {

    .membersLayout h2,
    .eventsLayout h2,
    .blogPageLayout h2,
    .msgBox h2 .contactUsSection h2 {

        font-size: 40px;
    }

    header .name {
        font-size: 1.7em;
    }

    .contactBox p:nth-child(1) {
        /* border: 2px solid red; */
        width: 30vw;
        margin: 0 auto;
    }
}