/* Utility Classes */

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.just-around {
    justify-content: space-around;
}

.just-between {
    justify-content: space-between;
}

.just-evenly {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

.grid {
    display: grid;
}

.place-center {
    place-items: center;
}

.p-2 {
    padding: 2px;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 10px;
}

.p-20 {
    padding: 10px;
}

.px-10 {
    padding: 0 10px 0 10px;
}

.py-10 {
    padding: 10 0 10px 0;
}

.li--decor {
    list-style: none;
}